<div id="intro">
  <h1 class="page-header">Welcome to this playground!</h1>

  <div id="chart-mean-container">
    <button class="btn btn-primary" ng-click="replay()">Replay</button>
    <!-- <div id="chart-mean"></div> -->
    <mean-vis class="chart-mean" replay-count="count"></mean-vis>
  </div>

  <p>Hey there, "D3 Angular Demos" is a playground I built as I was preparing for a talk I gave at the <a href="http://www.meetup.com/AngularJS-OC/">AngularJS OC Meetup</a> about <a href="http://d3js.org/">D3</a> and <a href="https://angularjs.org/">Angular</a>. It includes directives for some basic visualizations. I've tried to make them all responsive and mobile friendly. Check out the examples and resize your browser to check it out.</p>

  <p>If these directives are in any way useful to you, go ahead and use them to your heart's content. As I come up with new demos I will be adding them to the project. I am not aiming to build a d3-angular package (at least <em>not yet</em>), but more of an app that I can hack on as I get ideas.</p>

  <p>Feel free to clone or fork the repo. If you find any bugs, please open an issue. Oh and, pull requests are welcome :)</p>

  <div class="github-btn-container">
    <a href="https://github.com/victormejia/d3-angular-demos"><button class="github-btn"><i class="fa fa-github fa-lg"></i> View the project on GitHub</button></a>
  </div>

  <h2>... and the <a href="http://victormejia.github.io/d3-angularoc" target="_blank">slides</a> from the talk.</h2>

  <h2>Hacking on this:</h2>
  <p>I built this app using <a href="http://yeoman.io">Yeoman</a>. Follow the instructions on the homepage to have Yeoman installed, which will install <a href="http://gruntjs.com">Grunt</a> and <a href="http://bower.io">Bower</a> automatically. Note that you will need <a href="http://nodejs.org">Node.js</a>, <a href="http://git-scm.org">Git</a> and <a href="http://ruby-lang.org">Ruby</a> and <a href="http://compass-style.org/install">Compass</a> (for Sass watching).</p>

  <p>Once you have those installed, in the directory simply run: </p>
  <pre><code>
    $ npm install
    $ bower install
    $ grunt serve
  </code></pre>

  and that should open a browser for you with live reloading ready. Happy coding!

  <!-- <script src="/scripts/demo/mean.js"></script> -->
</div>