<div ng-controller="NavCtrl">
  <ul class="nav nav-sidebar">
    <li ng-class="{active: currentTab == 'home'}"><a href="#"><i class="fa fa-rocket fa-lg"></i>Home</a></li>
    <li ng-class="{active: currentTab == 'bar'}"><a href="#/bar"><i class="fa fa-signal fa-lg"></i>Bar Chart</a></li>
    <li ng-class="{active: currentTab == 'line'}"><a href="#/line"><i class="fa fa-arrows-h fa-lg"></i>Line Chart</a></li>
    <li ng-class="{active: currentTab == 'donut'}"><a href="#/donut"><i class="fa fa-dot-circle-o fa-lg"></i>Donut Chart</a></li>
    <li><a href="https://github.com/victormejia" target="_blank"><i class="fa fa-github fa-lg"></i>@victormejia</a></li>
  </ul>
</div>
