<div ng-controller="NavCtrl">
  <ul class="nav nav-sidebar">
    <li ng-class="{active: currentTab == 'home'}"><a href="#"><i class="ion ion-home"></i>Home</a></li>
    <li ng-class="{active: currentTab == 'bar'}"><a href="#/bar"><i class="ion-stats-bars"></i>Bar Chart</a></li>
    <li ng-class="{active: currentTab == 'line'}"><a href="#/line"><i class="ion-arrow-graph-up-right"></i>Line Chart</a></li>
    <li ng-class="{active: currentTab == 'donut'}"><a href="#/donut"><i class="ion-pie-graph"></i>Donut Chart</a></li>
    <li><a href="https://github.com/victormejia" target="_blank"><i class="ion-social-github"></i>@victormejia</a></li>
  </ul>
</div>
